@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ruthie&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  background-image: url("../image/feuilles-noix-coco-fond-texture-sable-fond-sable-ete-fond-sable-fin-fond-sable_9949-64.avif");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

.bg {
  background-color: rgba(56, 55, 55, 0.364);
}

.in {
  background-color: rgba(56, 55, 55, 0.364);
}

.indexform {

  font-size: 2rem;
}

.h1 {

  font-size: 2rem;
}

.to {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100px;

}

.imageenclos {
  width: 300px;
  height: 300px;
}

.enclosss {
  border: 3px solid black;
}

.a {
  text-decoration: none;
  color: black;

}

.imag {
  width: 150px;
  height: 150px;

}